<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}  
             <link href="{{ asset('bundles/gotchosenblog/css/gotchosen.css') }}" rel="stylesheet" type="text/css" />
            {% stylesheets '@bootstrap_less' combine=true %}  
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet">  
            {% endstylesheets %}  
        {% endblock %}  
      
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->  
        <!--[if lt IE 9]>  
        <script src="../../assets/js/html5shiv.js"></script>  
        <script src="../../assets/js/respond.min.js"></script>  
        <![endif]-->  


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
          
    {% block body %}  
    {% endblock %}  
  
    {% block javascripts %}  
        {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}  
            <script src="{{ asset_url }}"></script>  
        {% endjavascripts %}  
        <script src="{{ asset('bundles/gotchosenblog/js/gotchosen.js') }}"></script>
    {% endblock %}  
            
    </body>
</html>
