Users page goes here!
<h2>Users</h2>
<p>User Id: {{ user.id }}</p>
<p>First Name: {{ user.firstName }}</p>
<p>First Name: {{ user.lastName }}</p>
<p>First Name: {{ user.userType }}</p>
<p>First Name: {{ user.userName }}</p>
<p>First Name: {{ user.password }}</p>


<a href='list_all'>View All</a>
<a href='splash'>Home</a>